﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>楼层指示</title>
<script src="resource/js/lib/jquery-1.10.2.js" type="text/javascript" language="javascript"></script>
<link href="resource/css/common.css" rel="stylesheet" type="text/css" />
<link href="resource/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="wrap">
	<div class="r-page wrap-main">
		{{top-weather}}
		{{nav-bar title='查找车位' iconSrc='/resource/images/nav_2/nav_03.png'}}
		<!--主体内容start-->
		<div class="floor">
			<div class="f-logo">
				<div class="f-logoL">
					<ul>
						<li><a href="#" class="pre"></a></li>
					</ul>
					<ul>
						<li><a href="#"><em>1</em>座</a></li>
						<li><a href="#" class="checked"><em>2</em>座</a></li>
						<li><a href="#"><em>3</em>座</a></li>
						<li><a href="#"><em>4</em>座</a></li>
						<li><a href="#"><em>5</em>座</a></li>
					</ul>
					<ul>
						<li><a href="#"><img src="resource/images/floor/btn_02.png" /></a></li>
					</ul>
				</div>
				<div class="f-logoR">
					<div class="f-logoR-logo">
						<ul>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>

							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>

							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>

							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
							<li><a href="#"><img src="resource/images/logo/01.png" /></a></li>
						</ul>
					</div>
					<div class="f-logoR-but">
						<a href="#"><img src="resource/images/floor/btn_03.png" /></a>
						<a href="#"><img src="resource/images/floor/btn_04.png" /></a>
					</div>
				</div>
			</div>
		</div>
		<!--主体内容end-->
		{{bottom-map}}
	</div>
</div>

</body>
</html>
