@charset "utf-8";
/*导航标题*/
.nav{
	width: 1040px;
	height: 128px;
	margin: 0 auto 15px auto;
}
.nav-left{
	width: 840px;
	height: 128px;
	background: #c2cbd2;
	float: left;
	padding: 0px 20px;
}
.nav-right{
	width: 128px;
	height: 128px;
	background: url(../images/slice/button_index.png) no-repeat;
	float: right;
	cursor: pointer;
}
.nav-left img,.nav-left span{
	display: inline-block;
	float: left;
}
.nav-left span{
	font-size: 36px;
	position: relative;
	color: #ffffff;
	top: 37px;
	left: -20px

}
.nav-left p{
	width: 128px;
	height: 128px;
	float: left;
	background: url(../images/slice/button_second.png) no-repeat;
}
/*品牌导购*/
.nav-left p.brand{
	background-image: url(../images/slice/icon_2.png) no-repeat;
	/*background-position: 0 -0px;*/
}

/*会员中心*/
.nav-left p.member{
	background-image: url(../images/slice/icon_5.png) no-repeat;
	/*background-position: 0 -80px;*/
}
/*停车位*/
/*.nav-left p.park{
	background-position: 0 -180px;
}

/*楼层导航*/
.nav-left p.floor{
	background-image: url(../images/slice/icon_3.png) no-repeat;
	/*background-position: 0 -265px;*/
}
/*商场简介*/
.nav-left p.mall_info{
	background-image: url(../images/slice/icon_4.png) no-repeat;
	/*background-position: 0 -360px;*/
}
/*商场活动*/
.nav-left p.activity{
	background-image: url(../images/slice/icon_1.png) no-repeat;
	/*background-position: 0 -470px;*/
}
/*活动回顾*/
/*
.nav-left p.retro{
	background-position: 0 -575px;
}*/
