@charset "utf-8";
/*头部*/
.head{
	width: 920px;
	height: 280px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 60px;
	background: #00aebb;
	top: 20px;
	position: relative;
	/*background: url(../images/slice/banner_weather.png) no-repeat;*/
}

.weather{
	width: 250px;
	height: 250px;
	float: left;
	margin-top: 10px;
}
.weather >*{
	float: left;
}
.weather >img{
	display: block;
	width: 245px;
	height: 145px;
	margin: 6px 0;
	/*position: absolute;
	top: -16px;*/
}
.weather span img{
	width: 45px;
	margin-top:17px;

}
.weather span{
	display: inline-block;
	font-family: "微软雅黑"!important;
	margin-right: 20px;
	color: #fff;
	width:60px;
	line-height: 35px;
	font-size: 28px;
	text-align: center;
}
.weather span.otherday{
	position: relative;
}
.weather_line{
	width: 2px;
	height: 230px;
	background: #fff;
	float: left;
	margin-left: 20px;
}
.data{
	width: auto;
	float: left;
	padding: 0 70px;
	color: #fff;
	/*color:#000000;*/
	/*opacity: .85;*/
	width: 250px;
	position: relative;
    top: 20px;
}
.data p{
	display: block;
	font-size: 28px;
	font-family: "微软雅黑"!important;
	color: #00aebb;
	background: #fff;
	padding:0 30px;
	border-left: 45px solid white;
	border-width: 1px;
	border-radius: 45px;
	margin: 10px 0 14px 17px;
    line-height:37px;
    width:140px;
}
.data span{
	display: block;
}

.data span.today{
	font-family: "微软雅黑"!important;
	font-size:42px;
	margin-left: 74px;
}
.data span em{
	font-size: 114px;
	line-height: 100px;	
}
.data p,.data span,.weather span{
	font-style: normal;
	font-family: Kalinga;
	text-align: center;
	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;*/
}

.data >*{
	float:left;
}
.clock{
	float: left;

	width:250px;
	height:210px;
	background: url(../images/slice/clock.png);
	margin-top: 70px;
}
.temperature{
    width: 158px;
    margin-left: 47px;
    height: 120px;
}
.temperature span{
	float: left;
    padding-top: 30px;
}
.temperature sup{
	font-size: 58px;
}
.top_title{
	color:#fff;
	/*position: relative;*/
	width: 250px;
    height: 31px;
	top:0px;
	font-size: 24px;
	padding-left: 30px;
	background: url(../images/slice/icon_location.png) no-repeat;
	margin-top: 10px;
    line-height:26px;
}
.top_title >*{
	float: left;
}
.currentDate{
     margin-left: 20px;
}
.clockCanvas{
	float: left;
	position: relative;
	left: 15px;
	top: 15px;
	width: 190px;
	height: 190px;
}

