<!doctype html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title>大宁国际</title>
	    <link rel="stylesheet" type="text/css" href="resource/css/app.min.css" />
	</head>
	<body>
		<script type="text/jx-handlebars" id="application">
			{{outlet}}
		</script>
		<!-- include libs-->
		<script type="text/javascript" src="resource/js/jquery.js"></script>
		<script type="text/javascript" src="resource/js/jqueryswipe.js"></script>
		<script type="text/javascript" src="resource/js/handlebars.js"></script>
		<script type="text/javascript" src="resource/js/ember.js"></script>
		<script type="text/javascript" src="resource/js/raphael.js"></script>
		<script type="text/javascript" src="resource/js/pathfinding.js"></script>
		<script type="text/javascript" src="resource/js/unslider.js"></script>
		<script type="text/javascript" src="resource/js/snapsvg.js"></script>
		<script type="text/javascript" src="resource/js/stats.js"></script>
		<script type="text/javascript" src="resource/js/three.js"></script>
		<script type="text/javascript" src="resource/js/tween.js"></script>
		<!-- components -->
		<script type="text/javascript" src="resource/js/utils.js"></script>
		<script type="text/javascript" src="resource/js/app.js"></script>
		<script type="text/javascript" src="resource/js/router.js"></script>
		<script type="text/javascript" src="resource/js/templates.js"></script>
		<script type="text/javascript" src="resource/js/models.js"></script>
		<script type="text/javascript" src="resource/js/routes.js"></script>
		<script type="text/javascript" src="resource/js/views.js"></script>
		<script type="text/javascript" src="resource/js/controllers.js"></script>
		<script type="text/javascript" src="resource/js/components.js"></script>
		<script type="text/javascript" src="resource/js/gim.js"></script>

        <script type="text/javascript" src="/resource/js/views/stores.js"></script>
        <script type="text/javascript" src="/resource/js/controllers/stores.js"></script>
        <script type="text/javascript" src="/resource/js/views/floor.js"></script>
        <script type="text/javascript" src="/resource/js/controllers/stores.js"></script>
        <script type="text/javascript" src="/resource/js/components/categoryList.js"></script>
        <script type="text/javascript" src="/resource/js/components/storeDetail.js"></script>
        <script type="text/javascript" src="/resource/js/util/util.js"></script>

		
	</body>
</html>
