@charset "utf-8";
*{
	outline: 0
}
html{
    -ms-content-zooming: none;
} 
body{ 
	padding:0;
	font-size: 14px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	margin: 0;
	color: #2e3641;
	overflow-x:hidden; 
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none;  /*webkit浏览器*/
  -ms-user-select: none;   /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, select, button, textarea, iframe { 
	margin:0; 
	padding:0; 
	font-weight:normal
}
fieldset, img { 
	border:0; 
}
address, caption, cite, code, dfn, em, strong, th, var ,i{ 
	font-style:normal; 
	font-weight:normal; 
}
ol, ul, li { 
	list-style:none;
 }
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
	line-height: normal;
	font-style: normal;
	font-weight: normal;
}
caption, th { 
	text-align:left; 
}
a {
	text-decoration: none;
	color: #2e3641;
}
a:hover {
	text-decoration: none;
}
.con-wrap{
	width: 100%;
	background: #fff;
}
.wrap-main{
	width: 1040px;
	height: 1900px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}


::-webkit-scrollbar{
    width:6px;
    height:6px;
    background-color:#fff;
}
::-webkit-scrollbar:hover{
    background-color:#eee;
}
::-webkit-scrollbar-thumb{
    min-height:5px;
    min-width:5px;
    -webkit-border-radius:20px;
    border:1px solid #AAA;
    background-color:#AAA;
}
::-webkit-scrollbar-thumb:hover{
    min-height:5px;
    min-width:5px;
    -webkit-border-radius:20px;
    border:1px solid #444;
    background-color: #444;
}
::-webkit-scrollbar-thumb:active{
    -webkit-border-radius:20px;
    border:1px solid #444;
    background-color: #444;
} 
