@charset "utf-8";

/*品牌导购 主体内容*/
.con{
	width: 1030px;
	height: 1350px;
	overflow: hidden;
	margin: 0 auto;
}
.con-left{
	width: 202px;
	float: left;
}
.con-right{
	width: 785px;
	height: 1320px;
	padding: 15px 0 15px 15px;
	float: right;
	background: url(../images/bg_common.png) repeat;
}
.con-right-m{
	width: 785px;
	height: 1320px;
	overflow: auto;
	overflow-x:hidden; 
}
.con-left-T{
	width:202px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	font-size: 30px;
	background: #d3dde4;
	margin-bottom: 10px;
	cursor: pointer;
	clear: both;
}
.con-left-T.checked{
	background: #e8004c;
	margin-bottom: 0px;
	color: #fff;
}
.con-left-list{
	width: 202px;
	height: auto;
	color: #fff;
	margin-bottom: 10px;
	display: none;
}
.con-left-list ul{
	width: 100%;
}
.con-left-list ul li{
	width: 200px;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	border: 1px solid #e8004c;
	border-width:0 1px 1px 1px;	
	position: relative;
}
.con-left-list ul li.border-right{
	border-right:1px solid #d7e0e7;
}
.con-left-list ul li.border-right2{
	border-right:1px solid #e8004c;
}
.con-left-list ul li a{
	/*width: 200px;*/
	height: 80px;
	display: block;
	/*background: url(../images/button_category_0.png) no-repeat;*/
}
.con-left-list ul.letter li a.checked{
	background: #e8004c;
	color: #fff;
}
.con-left-list ul li a.checked{
	color: #e8004c;
    background: rgba(215,224,231,.8);
	/*background: url(../images/button_category_1.png) no-repeat #d7e0e7;*/
}
.con-left-list >ul.categoryList li a.checked{
    border-left:4px solid #e8004c;
}
.con-left-list ul li a span{
	display: inline-block;
	float: left;
	/*margin-left: 80px;*/
}
.con-left-list ul li a img{
	width: 40px;
	height: 40px;
	float: left;
	margin: 20px 30px;
}
.con-left-list ul li a.a1{
	background-position-y:0px; 
}
.con-left-list ul li a.a2{
	background-position: 0px -80px; 
}
.con-left-list ul li a.a3{
	background-position: 0px -160px; 
}
.con-left-list ul li a.a4{
	background-position: 0px -240px; 
}
.con-left-list ul li a.a5{
	background-position: 0px -320px; 
}
.con-left-list ul li a.a6{
	background-position: 0px -400px; 
}
.con-left-list ul li a.a7{
	background-position: 0px -465px; 
}
.con-left-list ul.letter{
	width: 200px;
	overflow: hidden;
	border: 1px solid #e8004c;
	border-width: 0px 1px 1px 1px;
}
.con-left-list ul.letter li{
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	float: left;
	margin: 10px 12px;
	font-size: 24px;
	border: none;
}
.con-left-list ul.letter li a{
	width: 42px;
	height: 42px;
	display: block;
	background: none;
	border-radius: 21px;
}
.con-left-list ul.letter li.max{
	width: 66px;
	margin: 10px 16px;
}
.con-left-list ul.letter li.max a{
	width: 62px;
	border-radius: 10px;
}
.con-left-list ul.letter li a:hover{
	background: #e8004c;
	color: #fff;
}
.con-left-list ul.letter li.un_click{
	color: #b5b5b5;
}



/*.con-left-list ul.letter li{
	width: 99px;
	height: 74px;
	line-height: 74px;
	text-align: center;
	float: left;
	font-size: 24px;
	border: 1px solid #e8004c;
	border-width:0 1px 1px 1px;
}
.con-left-list ul.letter li a{
	width: 99px;
	height: 74px;
	display: block;
	background: none;
}*/



/*品牌筛选弹出框*/
.nav-box{
	position: absolute;
	z-index: 5;
	top: -1px;
	left: 200px;
	background: rgba(215,224,231,.8);
	height: auto;
	border:1px solid #e8004c;
	border-width:1px 1px 1px 0; 
	display: none;
	color: #2e3641;
	width: 232px;
}
.nav-box ul{
	width: 100%;
}
.nav-box ul li{
	width: 115px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	float: left;
	border-width:0px;
}
.nav-box ul li a{
	width: 115px;
	height: 80px;
	display: inline-block;
	background:none;
	cursor: pointer;
	color: #2e3641;
	font-size: 18px;
}
.nav-box ul li a.Achecked{
	color: #e8004c;
}
.nav-box ul li.border-left{
	border-left:1px solid #e8004c;
 }
.nav-box ul li.border-first{
	border-left:1px solid #d7e0e7;
 }

.con-right-list{
	width: 730px;
	height: 280px;
	padding: 20px;
	margin-bottom: 12px;
	background: #fff;
	border:1px solid #c1cfd9; 
	box-shadow: 3px 3px 0px #c1cfd9;
}
/*
.con-right-list:last-child{
	margin-bottom: 0px;
}
*/
.con-right-list .pic{
	width: 400px;
	height: 280px;
	overflow: hidden; 
	float: left;
}
.con-right-list .pic img{
	width: 400px;
	height: 280px;
}

.con-right-list .intro{
	width: 305px;
	height: 280px;
	overflow: hidden; 
	float: right;
}
.con-right-list .intro .title{
	width: 305px;
	height: 90px;
	padding-bottom:10px;
	border-bottom: 1px solid #c1cfd9; 
}
.con-right-list .intro .title img{
	width: 82px;
	height: 82px;
	float: left;
	display: inline-block;
}
.con-right-list .intro .title span{
	/*display: inline-block;*/
	/*float: left;*/
	padding-left: 10px;
	font-size: 24px;
	/*line-height: 90px;*/
	display: table-cell;
	height: 90px;
	text-align: left;
	vertical-align: middle;
}
.con-right-list .intro .cost{
	width: 305px;
	height: 100px;
	margin-top:10px;
}
.con-right-list .intro .cost span{
	display: block;
	text-align: left;
 	margin-bottom: 10px;
 	font-size: 24px;
}
.con-right-list .intro .cost span:first-child{
	width: 305px;
	height: 32px;
	overflow: hidden;
}
.con-right-list .intro .cost span p,.con-right-list .intro .cost span em{
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	float: left;
	overflow: hidden;
}
.con-right-list .intro .cost span p{
	background: #e2ecf3;
	border-radius: 30px;
	margin-right: 10px;
}
.con-right-list .intro .cost span em{
	width: 150px;
	text-align: left;
}

.con-right-list .intro .button{
	width: 305px;
	height: 52px;
	margin-top: 17px;
}
.con-right-list .intro .button a{
	width: 118px;
	height: 49px;
	display: inline-block;
	float: left;
	/*background: url(../images/default.png?20140818150823) no-repeat;background-position: 0 -567px;*/
}
.con-right-list .intro .button a:first-child{
     background: url(../images/default.png?20140818150823) no-repeat;background-position: -541px -490px;
     margin-right: 40px;
}
.con-right-list .intro .button a:first-child+a{
     background: url(../images/default.png?20140818150823) no-repeat;background-position: 0 -567px;
}
/*
.con-right-list .intro .button a.a2{
	background: url(../images/default.png?20140818150823) no-repeat;background-position: -318px -490px;
}
.con-right-list .intro .button a.a1{
	background: url(../images/default.png?20140818150823) no-repeat;background-position: 0 -567px;
}*/

/*品牌导购 详情页*/
.detail{
	width: 680px;
	height: auto;
	margin:0 auto;
	position: relative;
}
.d-logo{
	width: 690px;
	height: 106px;
	margin-top: 20px;
	margin-left: -4px;
	background-color: #e8004c;
}
.d-logoL{
	width: 470px;
	height: 82px;
	float: left;
	position: relative;
	left: 31px;
	top: 10px;
}

.d-logoL .pic{
	width: 82px;
	height: 82px;
	float: left;
	margin-right: 20px;
}
.d-logoL span{
	display: inline-block;
	float: left;
	line-height: 30px;
	font-size: 28px;
	text-align: left;
	white-space:nowrap;
	color: #ffffff;
}
.d-logoL hr{
	margin: 0;
	margin-bottom: 5px;
}
.d-logoL span em{
	display: block;
	line-height: 50px;
	font-size: 28px;
	color: #ffffff;
}
.d-logoR span{
	display: inline-block;
	float: right;
	line-height: 82px;
	font-size: 30px;
	margin:0 15px;
}
.d-logoR font{
	display: inline-block;
	float: right;
	width: 65px;
	height: 65px;
	border-radius: 32px;
	background: #d3dde4;
	line-height: 65px;
	text-align: center;
	font-size: 28px;
	margin-top: 5px;
	color: #ffffff;
	position: relative;
	left: 20%;
}
.d-pic{
	width: 640px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0px;
}
.d-pic-img{
	width: 640px;
	height: 480px;
	overflow: hidden;
	position: relative;
}
.d-pic-img-area{
	width: auto;
	height: 480px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.d-pic-img-area ul li{
	width: 640px;
	height: 480px;
	float: left;
	overflow: hidden;
	cursor: pointer;
	display: block;
}

.d-pic-img-area ul li img{
	display: block;
	margin: 0 auto;
}

.d-pic p{
	padding-top: 10px;
	font-size:20px;
	text-align: left;
}
.d-map{
	width: 680px;
	height: 450px;
	overflow: hidden;
	position: relative;
}
.d-map-compass{
	width: 690px;
	height: 358px;
	background: url(../images/default.png?20140818150823) 0 0  no-repeat;background-position: 0 0;
	position: absolute;
	top: 900px;
	left: -4px;
}
.d-map img{
	display:block;
	margin: 0 auto;	
}
.d-map-text{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 24px;
	margin-left: 25px;
	position: relative;
	top: 20px;
}
.d-map-text_1
{
	height: 70px;
	width: 148px;
	background: url(../images/default.png?20140818150823) no-repeat;background-position: -169px -490px;
	float: left;
}
.d-map-text_2{
	background: rgba(215,224,231,.8);	height: 59px;
	width: 159px;
	float:left;
	overflow:hidden;
	background: url(../images/default.png?20140818150823) 0 0  no-repeat;background-position: -380px -490px;
	float: right;
	position: relative;
	top: 10px;
	right: 60px;
}
.d-map-text em{
	font-size: 28px;
	padding: 0 5px;
	position: relative;
	top: 25px;
}
/*模糊弹出框*/
.Blur-box{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	background: #696969;
	opacity:.90;filter:alpha(opacity=90);
	/*display: none;*/
}
.Blur-box-main{
	width: 770px;
	height: 1300px;
	margin: 0 auto;
	position: absolute;
	top: 275px;
	left: 120px;
	z-index: 15;
	background:#fff;
	border:1px solid #c1cfd9;
	box-shadow: 3px 3px 0px #c1cfd9;
	/*display: none;*/
}
.d-but{
	width: 120px;
	height: auto;
	position: absolute;
	z-index: 20;
	top: 530px;
	right: 45px;
	display: block;
}
.d-but a{
	width: 120px;
	height: 120px;
	display: block;
	margin-bottom: 15px;
	cursor: pointer;
}
.d-but a.back{
	width: 106px;
	height: 106px;
	background: url(../images/default.png?20140818150823) no-repeat;background-position: -567px -360px;
}
.d-but a.back-index{
	width: 106px;
	height: 106px;
	background: url(../images/default.png?20140818150823) no-repeat;background-position: -459px -360px;
}
.d-but a.menu{
	width: 106px;
	height: 106px;
	/*background: url(../images/default.png?20140818150823) no-repeat;background-position: -229px -360px;*/
	background: url(../images/default.png?20140818150823) no-repeat;background-position: -351px -360px;
}
/*主体内容*/
.main{
	width: 1008px;
	height: 1360px;
	padding: 16px;
	overflow: hidden;
	margin:0 auto;
	background: url(../images/bg_common.png) repeat;
}
.m-con{
	width: 1006px;
	height: 1359px;
	background: #fff;
	border: 1px solid #c1cfd9;
    border-bottom:none;
	box-shadow: 2px 2px 0px #c1cfd9;
	position: relative;
}
.m-con img{
	display: block;
	margin: 0 auto;
}
/*浮动按钮*/
.m-con-but-left{
	width: 100px;
	height: 190px;
	position: absolute;
	top: 40%;
	left: 0px;
}
.m-con-but-left a,.m-con-but-right a{
	display: block;
	cursor: pointer;
	width: 100px;
	height: 190px;
}
.m-con-but-right{
	width: 100px;
	height: 190px;
	position: absolute;
	top: 40%;
	right: 0px;
}
.m-con-but-left a{
	background: url(../images/icon_x.png) 0 0 no-repeat;
}
.m-con-but-right a{
	background: url(../images/icon_x.png) -150px 0 no-repeat;
}

.member{
	width: 1006px;
	height: 1359px;
	overflow: hidden;
	position: relative;
	float: left;
}
.member-list{
	width: auto;
	height: 1359px;
	position: relative;
	left: 0px;
}
.member-listDiv{
	width: 1006px;
	height: 1359px;
	position: absolute;
    top:-1359px;
}
.member-listDiv img{
    width:1006px;
	display: block;
	margin:0 auto;
}
/*首页地图*/
.index-map{
	width: 1028px;
	height: 680px;
	position: relative;
}
.compass{
	width: 97px;
	height: 122px;
	background: url(../images/default.png?20140818150823) 0 0  no-repeat;background-position: -130px -360px;
	position: absolute;
	top: 0px;
	right: 0px;
}
/*查找车位*/
.park{
	width: 1030px;
	height: auto;
	overflow: hidden;
	margin:0 auto;
}
.p-garage{
	width: 1030px;
	height: auto;
	overflow: auto;
	border-bottom: 1px solid #ccc;
}

.p-garage p{
	padding: 100px 0 230px 200px;
	overflow: auto;
}
.p-garage p span{
	display: block;
	line-height: 60px;
	font-size: 30px;
	margin-bottom: 50px;
	text-align: left;
}
.p-garage p a{
	width:300px;
	height: 100px;
	line-height: 100px;
	font-size: 36px;
	border-radius: 10px; 
	display: inline-block;
	float: left;
	text-align: center;
	margin-right: 20px;
	background: #d3dde4;
}
.p-garage p a.checked{
	background: #e8004c;
	color: #fff;
}
/*查找停车位*/
.p-search{
	width: 450px;
	height: auto;
	float: left;
	padding-left: 43px;
	padding-top: 25px;
}
.p-search span{
	display: block;
	line-height: 50px;
	font-size: 30px;
	text-align: left;
	color: #2e3641;
}
.p-search .sure{
	margin: 20px auto;
	height: 60px;
}

.p-search .sure font,.p-search .sure a,.p-search .p-back a{
	width: 100px;
	height: 60px;
	line-height: 60px;
	float: left;
	text-align: center;
	color: #fff;
	background: #e8004c;
	display: inline-block;
}

.p-search .sure font{
	font-size: 30px;
	display: none;
}
.p-search .sure input{
	width: 205px;
	height: 58px;
	line-height: 30px;
	font-size: 25px;
	border: 1px solid #e8004c;
	float: left;
	padding: 0 5px;
	display: inline-block;
}
.p-num{
	width: 330px;
	height: auto;
	float: right;
	padding-bottom: 80px;
}
.p-num ul{
	width: 100%;
}
.p-num ul li {
	width: 83px;
	height: 83px;
	float: left;
	margin:5px;
	text-align: center;
	line-height: 83px;
	cursor: pointer;
	color: #fff;
	font-size: 30px;
	background: url(../images/button_num.png) 0 0 no-repeat;
}
.p-num ul li.checked{
	background-position: -118px 0px;
}
.p-num ul li.null{
	background-position: 0 -118px;
}
.p-num ul li.del{
	background-position: -118px -118px;
}

.p-map{
	width: 1030px;
	height: auto;
	padding-top: 30px;
}
.p-map img{
	display: block;
	margin: 0 auto;
}
/*查找车位--路线指引*/
.p-detail-top{
	height: 80px;
	padding: 45px;
	background: #d3dde4;
}
.p-detail-top-left{
	width: 90px;
	height: 75px;
	float: left;
	background: url(../images/default.png?20140818150823) no-repeat;background-position: 0 -490px;
}
.p-detail-top .house-number{
	width: 90px;
	height: 75px;
	float: left;
	background: url(../images/default.png?20140818150823) no-repeat;background-position: -77px -490px;
}
.p-detail-top-line{
	width: 1px;
	height: 80px;
	margin: 0 30px;
	float: left;
	background: #000;
}
.p-detail-top-right{
	width: 525px;
	height: auto;
	float: left;
	overflow: hidden;
}
.p-detail-top-right span{
	display: block;
	font-size: 30px;
	line-height: 50px;
	text-align: left;
}
.p-detail-top-right p{
	font-size: 24px;
	line-height: 30px;
	text-align: left;
}
.p-detail-map{
	width: 680px;
	height: 450px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 60px;
	position: relative;
}

.p-detail-map #squareMap,.p-detail-map #undergroundMap{
    width:680px;
    height:450px;
}

.p-detail-map img{
	display: block;
	margin: 0 auto;
}
.p-detail-map span{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 30px;
	font-size: 22px;
}
.p-detail-map-nav{
}
.p-detail-map-height{
	height: auto;
}

/*楼层导航*/
.floor{
	width: 1030px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.f-logo{
	width: 100%;
	height: 545px;
}
.f-logoL{
	width: 70px;
	height: 535px;
	float: left;
	margin-top: 10px;
}
.f-logoR{
	width: 900px;
	height: 515px;
	padding: 15px;
	float: right;
	position: relative;
	background: url(../images/bg_common.png) repeat;
}
.f-logoL ul{
	width: 100%;
}
.f-logoL ul li{
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-size: 18px;
	cursor: pointer;
	background: #d4dde4;
	box-shadow: 0 3px 0 #c2d0d9;
}
.f-logoL ul.btn li{
	margin: 0px;
}
.f-logoL-m-list ul#floors li{
	margin-bottom: 6px;	
}

.f-logoL ul li a{
	width: 70px;
	height: 70px;
	display: block;
	cursor: pointer;
}
.f-logoL-m{
	width: 100%;
	height: 377px;
	overflow: hidden;
	position: relative;
	margin: 6px 0 3px 0;
}
.f-logoL-m-list{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
}
.f-logoL ul li em{
	font-size: 30px;
}
.f-logoL ul li.checked{
	background: #e6004b;
	color: #fff;
	box-shadow: 0 3px 0 #b0013a;
}
.f-logoL ul li a#pre{
	background: url(../images/icon_arrow.png) -3px 26px no-repeat;
}
.f-logoL ul li a#next{
	background: url(../images/icon_arrow.png) -3px -38px no-repeat;
}

.f-logoR-but a#up{
	background: url(../images/icon_arrow.png) 0px -136px no-repeat;
}
.f-logoR-but a#down{
	background: url(../images/icon_arrow.png) 0px -340px no-repeat;
}
.f-logoR-but a#up:hover{
	background: url(../images/icon_arrow.png) 0px -204px no-repeat;
}
.f-logoR-but a#down:hover{
	background: url(../images/icon_arrow.png) 0px -272px no-repeat;
}

.f-logoR-logo{
	width: 896px;
	height: 511px;
	background: #fff;
	box-shadow: 2px 2px 0 #c1cfd9;
	border:1px solid #c1cfd9;
}
.f-logoR-logo-m{
	width: 896px;
	height: 460px;
	overflow: hidden;
	position: relative;
}
.f-logoR-logo-m-list{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
}
.f-logoR-logo-m-list ul{
	width: 100%;
	height: auto;
	padding-top:10px; 
}
.f-logoR-logo-m-list ul li{
	width: 82px;
	height: 82px;
	float: left;
	margin: 15px;
}
.f-logoR-but{
	position: absolute;
	bottom:18px;
	left: 350px;
	z-index: 5;
}
.f-logoR-but a{
	width: 77px;
	height: 45px;
	float: left;
	margin-right: 70px;
	display: inline-block;
}
.f-map{
	width: 100%;
	margin-top: 50px;
}
.f-map img{
	display: block;
	margin: 0 auto;
}
/*商场活动*/
.activities{
	width: 1030px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}
.activities ul{
	width: 100%;
	overflow: auto;
}
.activities ul li{
	float: left;
	overflow: hidden;
}
.activities ul li.max{
	width: 675px;
	height: 477px;
}
.activities ul li.max video{
	height: 477px;
}
.activities ul li.min{
	width: 335px;
	height: 477px;
}
.activities ul li.small img{
	width: 335px;
	height: 477px;
}
.activities ul li.bottom{
	width: 335px;
	height: 468px;
}
.activities ul li.right{
	margin-right: 12px;
	margin-bottom: 12px;
}
.activities ul li.floatR{
	float: right;
}
.activities-detail{
	width: 770px;
	height: 1300px;
	border: 1px solid #C1CFD9;
	box-shadow: 3px 3px 3px #C1CFD9;
}
.activities-detail img{
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
.activities-detail >p{
	text-align: left;
	padding:5px 20px;
	color: #595757; 
}
.activities-detail >a +p span{
	color: #e8004c;
}
.activity_title{
	width: 730px;
	height: 126px;
	margin: 0 auto;
	background-color: #e8004c;
}
.activity_title p{
	width: 105px;
    height: 105px;
    float: left;
    background-image: url(../images/default.png?20140818150823);background-position: 0 -360px;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.activity_title span{
	font-size: 36px;
    position: relative;
     color: #fff;
     top: 40px;
     float: left;
     margin-left: 20px;
}



/*店铺详情页 动画特效*/
@keyframes fade-in {
	0% {opacity: 0;}/*初始状态 透明度为0*/
	50% {opacity: 0;}/*过渡状态 透明度为0*/
	100% {opacity: .80;}/*结束状态 透明度为1*/
}

@-webkit-keyframes fade-in {/*针对webkit内核*/
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: .80;}
}
@-moz-keyframes fade-in {/*针对webkit内核*/
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: .80;}
}

@keyframes fade-out {
	0% {opacity: .80;}/*初始状态 透明度为0*/
	50% {opacity: .80;}/*过渡状态 透明度为0*/
	100% {opacity: 0;}/*结束状态 透明度为1*/
}

@-webkit-keyframes fade-out {/*针对webkit内核*/
	0% {opacity: .80;}
	50% {opacity: .80;}
	100% {opacity: 0;}
}
@-moz-keyframes fade-out {/*针对webkit内核*/
	0% {opacity: .80;}
	50% {opacity: .80;}
	100% {opacity: 0;}
}
.Blur-box-fade-in {
	animation: fade-in;/*动画名称*/
	animation-duration: 1s;/*动画持续时间*/
	-webkit-animation:fade-in 1s;/*针对webkit内核*/
	-moz-animation:fade-in 1s;/*针对webkit内核*/
	-o-animation:fade-in 1s;/*针对webkit内核*/
}
.Blur-box-fade-out{
	animation: fade-out;/*动画名称*/
	animation-duration: 1s;/*动画持续时间*/
	-webkit-animation:fade-out 1s;/*针对webkit内核*/
	-moz-animation:fade-out 1s;/*针对webkit内核*/
	-o-animation:fade-out 1s;/*针对webkit内核*/
}

/*活动详情*/

/* 店铺详情动画轮播 */
.dots li{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
 .dots {
 	position: absolute;
    bottom: 0px;
    right: 0px;
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}
.dots li.active {
	background: #fff;
	opacity: 1;
}

/* 活动首页图片轮播翻转 */
.flip-container {
	perspective: 1000;
	-webkit-perspective:1000;
}
.start-flipper{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.flipper {
	display: block;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}
.front-flipper,.back-flipper {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front-flipper {
	z-index: 2;
}
.back-flipper {
	-webkit-transform: rotateY(180deg);
}
/* 广告模块 */
.adContainner{
	position: relative;
   height:1920px;
   width:1080px;
   margin:0 auto;
   opacity: 1;
   -webkit-backface-visibility: hidden;
   -webkit-animation-duration: .8s;
   -webkit-animation-delay: .2s;
   -webkit-animation-timing-function: ease;
   -webkit-animation-fill-mode: both;
}
#outAd{
	position: absolute;
	top:10px;
	right: 10px;
	font-size: 20px;
	color: white;
}

.imgSlider{
	width: 100%;
	left: -100%;
position: relative;
margin-right: -100%; 
-webkit-transition-property: left,height;
-moz-transition-property: left,height;
-ms-transition-property: left,height;
-o-transition-property: left,height;
transition-property: left,height;
-webkit-transition-duration: 0ms;
-moz-transition-duration: 333ms;
-ms-transition-duration: 333ms;
-o-transition-duration: 333ms;
transition-duration: 333ms;
-webkit-transition-timing-function: cubic-bezier(0.1,0.7,0.7,1);
-moz-transition-timing-function: cubic-bezier(0.1,0.7,0.7,1);
-ms-transition-timing-function: cubic-bezier(0.1,0.7,0.7,1);
-o-transition-timing-function: cubic-bezier(0.1,0.7,0.7,1);
transition-timing-function: cubic-bezier(0.1,0.7,0.7,1);
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
-o-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}
.imgSlider.active{
	left: 0;
	height: auto;
	overflow: visible;
	z-index: 2;
}

.imgSlider.active ~ .imgSlider
{
	left: 100%;
}
.notransition{
-webkit-transition-duration: 0!important;
transition-duration: 0!important;
-webkit-transition-delay: 0!important;
transition-delay: 0!important;
}
.css_stamp{ content:"20140818150823";}