.nav_wrap{ width: 100%; height: 100%; min-height: 930px; margin: 0px; position: relative;}
.nav_cont{ position: absolute; left: 0; top: 0; cursor: pointer;}
.nav0{ left: 0px; top: 0px; background-image: url("../images/home.png?20140818150823");background-position: 0 0; width: 620px; height: 930px;} /*1*/
.nav1{ left: 849px; top: 756px; background-image: url("../images/home.png?20140818150823");background-position: -622px 0; width: 192px; height: 174px;}/*2*/
.nav2{ left: 640px; top: 756px; background-image: url("../images/home.png?20140818150823");background-position: -622px -176px; width: 192px; height: 174px;}/*2*/
.nav3{ left: 640px; top: 0px; background-image: url("../images/home.png?20140818150823");background-position: -816px 0; width: 402px; height: 170px;}/*1*/
.nav4{ left: 849px; top: 377px; background-image: url("../images/home.png?20140818150823");background-position: -622px -352px; width: 192px; height: 174px;}/*2*/
.nav6{ left: 640px; top: 190px; background-image: url("../images/home.png?20140818150823");background-position: -816px -172px; width: 402px; height: 170px;}/*1*/
.nav7{ left: 640px; top: 569px; background-image: url("../images/home.png?20140818150823");background-position: -816px -344px; width: 402px; height: 170px;}/*1*/
.nav10{ left: 640px; top: 377px; background-image: url("../images/home.png?20140818150823");background-position: -622px -528px; width: 192px; height: 174px;}/*2*/
.nav_lead{ position: absolute; left: 0; top: 0; cursor: pointer;}

.nav_lead img{
	 width: 512px;
	 height: 302px; 
}

.nav_lead div img{
	width: 100px;
	height: 85px;
}

.nav_lead span{
	font-family: "造字工房悦黑演示版常规体";
	font-size: 38px;
	color: #ffffff;
	position: relative;
	top: -30px;
	left: 10px;
}

.nav_lead span:nth-child(3){
	position: relative;
	left: 15px;
}
.bottom_1_1{
	opacity: 0.7;
	background-color: #000000;
	width: 512px;
	height: 85px;
	position: absolute;
	bottom: 0px;
	}
.bottom_2_1{
	opacity: 0.7;
	background-color: #000000;
	width: 512px;
	height: 85px;
	position: absolute;
	bottom: 0px
	}
.bottom_3_1{
	opacity: 0.7;
	background-color: #000000;
	width: 512px; 
	height: 85px;
	position: absolute;
	bottom: 0px
	}
.bottom_4_1{
	opacity: 0.7;
	background-color: #000000;
	width: 512px; 
	height: 85px;
	position: absolute;
	bottom: 0px
	}

.map_wrap { }
.map_title{ 
	background: url("../images/home.png?20140818150823") no-repeat;background-position: -816px -516px; 
	width: 183px; 
	height: 67px; 
	position: absolute;
	top: 0px;
	left: 0px;
}


.nav_wrap{
	width: 1040px;
	height:930px;
	min-height: 930px;
	border: none;
}

.top_wrap{
	width:1040px;
	height:315px;
	border:none;
	position: relative;
}


.nav_wrap .bottom_wrap{
	height:680px;
}


.nav_lead{
	width: 512px;
	height:302px;
	position: relative;
	top:20px;
	float: left;
}

.nav_lead.bottom_2,.nav_lead.bottom_4{
	left: 16px;
}

.nav_lead.bottom_3,.nav_lead.bottom_4{
	top:40px;
}
.css_stamp{ content:"20140818150823";}