@charset "utf-8";
/*导航标题*/
.nav{
	width: 1040px;
	height: 128px;
	margin: 0 auto 15px auto;
}
.nav-left{
	width: 840px;
	height: 128px;
	background: #c2cbd2;
	float: left;
	padding: 0px 20px;
}
.nav-right{
	width: 128px;
	height: 128px;
	background: url(../images/nav.png?20140818150823) no-repeat;background-position: -82px 0;
	float: right;
	cursor: pointer;
}
.nav-left img,.nav-left span{
	display: inline-block;
	float: left;
}
.nav-left span{
	font-size: 36px;
	position: relative;
	color: #ffffff;
	top: 37px;
	left: -20px

}
.nav-left p{
	width: 128px;
	height: 128px;
	float: left;
	background: url(../images/nav.png?20140818150823) no-repeat;background-position: 0 0;
}
/*品牌导购*/
.nav-left p.brand{
	background-image: url(../images/nav.png?20140818150823) no-repeat;background-position: -82px -130px;
	/*background-position: 0 -0px;*/
}

/*会员中心*/
.nav-left p.member{
	background-image: url(../images/nav.png?20140818150823) no-repeat;background-position: -82px -260px;
	/*background-position: 0 -80px;*/
}
/*停车位*/
/*.nav-left p.park{
	background-position: 0 -180px;
}

/*楼层导航*/
.nav-left p.floor{
	background-image: url(../images/nav.png?20140818150823) no-repeat;background-position: -82px -390px;
	/*background-position: 0 -265px;*/
}
/*商场简介*/
.nav-left p.mall_info{
	background-image: url(../images/nav.png?20140818150823) no-repeat;background-position: -82px -520px;
	/*background-position: 0 -360px;*/
}
/*商场活动*/
.nav-left p.activity{
	background-image: url(../images/nav.png?20140818150823) no-repeat;background-position: -212px 0;
	/*background-position: 0 -470px;*/
}
/*活动回顾*/
/*
.nav-left p.retro{
	background-position: 0 -575px;
}*/

.css_stamp{ content:"20140818150823";}