<div id="bottom_lead" class="wrap" >
	<div class="nav_wrap bottom_wrap">

		{{#each list in leads}}

			<div class="nav_lead" {{bind-attr data-content=list.id}}>
				  <img/>
			      <div class="">
			      <img/>
			      <span>{{list.name}}</span>
			      <span>{{list.alias_name}}</span>
			      </div>
		    </div>

		{{/each}}
		
	</div>
</div>