<div class="con-left-T checked">品类筛选</div>
<div class="con-left-list" style="display: block;">
	<ul class="categoryList">
		{{#each list in lists}}
			<li>
				<a href="javascript:void(0)" {{bind-attr data-content=list.f_cate.id}} {{bind-attr class=list._index}}><img /><span>{{list.f_cate.name}}</span></a>
				<div class="nav-box">
					<ul>
					    {{#if list.s_cates}}
					    <li><a href="javascript:void(0)" {{bind-attr data-content=list.f_cate.id}}>全部</a></li>
					    {{/if}}
						{{#each item in list.s_cates}}
							<li><a href="javascript:void(0)" {{bind-attr data-content=item.id}}>{{item.name}}</a></li>							
						{{/each}}
					</ul>
				</div>
			</li>
		{{/each}}
	</ul>
</div>
<div class="con-left-T">首字母筛选</div>
<div class="con-left-list">
	<ul class="letter">
		<li class="max"><a class="bottomNode alph" data-value="all" href="javascript:void(0)">全部</a></li>
		<li class="max"><a data-value="number" href="javascript:void(0)">0~9</a></li>
		<li><a data-value="a" href="javascript:void(0)">A</a></li>
		<li><a data-value="b" href="javascript:void(0)">B</a></li>
		<li><a data-value="c" href="javascript:void(0)">C</a></li>
		<li><a data-value="d" href="javascript:void(0)">D</a></li>
		<li><a data-value="e" href="javascript:void(0)">E</a></li>
		<li><a data-value="f" href="javascript:void(0)">F</a></li>
		<li><a data-value="g" href="javascript:void(0)">G</a></li>
		<li><a data-value="h" href="javascript:void(0)">H</a></li>
		<li><a data-value="i" href="javascript:void(0)">I</a></li>
		<li><a data-value="j" href="javascript:void(0)">J</a></li>
		<li><a data-value="k" href="javascript:void(0)">K</a></li>
		<li><a data-value="l" href="javascript:void(0)">L</a></li>
		<li><a data-value="m" href="javascript:void(0)">M</a></li>
		<li><a data-value="n" href="javascript:void(0)">N</a></li>
		<li><a data-value="o" href="javascript:void(0)">O</a></li>
		<li><a data-value="p" href="javascript:void(0)">P</a></li>
		<li><a data-value="q" href="javascript:void(0)">Q</a></li>
		<li><a data-value="r" href="javascript:void(0)">R</a></li>
		<li><a data-value="s" href="javascript:void(0)">S</a></li>
		<li><a data-value="t" href="javascript:void(0)">T</a></li>
		<li><a data-value="u" href="javascript:void(0)">U</a></li>
		<li><a data-value="v" href="javascript:void(0)">V</a></li>
		<li><a data-value="w" href="javascript:void(0)">W</a></li>
		<li><a data-value="x" href="javascript:void(0)">X</a></li>
		<li><a data-value="y" href="javascript:void(0)">Y</a></li>
		<li><a data-value="z" href="javascript:void(0)">Z</a></li>
	</ul>
</div>
<div class="con-left-T bottomNode isFavored">优惠筛选</div>
<!--<div class="con-left-T bottomNode address">门牌号</div>-->