<div class="con-right-list">
	<div class="pic">
		<img {{bind-attr src=store.img}} />
	</div>
	<div class="intro">
		<div class="title">
			<img {{bind-attr src=store.icon}}/>
			<span>{{store.name}}</span>
		</div>
		<div class="cost">
			<span>{{store.tag}}</span>
			<span><p>{{store.floor}}</p> <em>{{store.locationCode}}</em></span>
		</div>
		<div class="button">
		    <a href="javscript:void(0);" {{action 'showPopMap' store}}></a>	
			<a href="javscript:void(0);" {{action 'showDetailCom' store}}></a>
		</div>
	</div>
</div>