<div class="wrap">
	<div class="nav_wrap">
		<!--第一个活动大图开始-->
		<div class="nav_cont nav0"  data-route="activity" data-title="6">
			<div></div>
		</div>
		<!--第一个活动大图结束-->
		
		<!--品牌导购开始-->
		<div class="nav_cont nav3" data-route="stores" data-title="all">
			<div></div>
		</div>
		<!--品牌导购结束-->
		
		<!--会员中心开始-->
		<div class="nav_cont nav6" data-route="static" data-title="member">
			<div></div>
		</div>
		<!--会员中心结束-->

		<!--楼栋导航开始-->
		<div class="nav_cont nav10" data-route="floor">
			<div></div>
		</div>
		<!--楼栋导航结束-->
		<!--二维码开始-->
		<div class="nav_cont nav4">
			<div></div>
		</div>
		<!--二维码结束-->

		<!--精彩活动开始-->
		<div class="nav_cont nav7" data-route="activity" data-title="all">
			<div></div>
		</div>
		<!--精彩活动结束-->

		<!--停车位开始-->
		<div class="nav_cont nav2" data-route="floor">
			<div></div>
		</div>
		<!--停车位结束-->
		<!--商场介绍开始-->
		<div class="nav_cont nav1" data-route="static" data-title="mall_info">
			<div></div>
		</div>
		<!--商场介绍结束-->

	</div>
</div>
