
<div id="test">{{buttonOptions.buttonCount}}</div>

{{!#if option.buttonType_0}}
<a class="back" {{action 'hideDetail' target='view'}}></a>
<a href="#" class="back-index" {{action 'gotoIndex'}}></a>
{{!/if}}

{{#if option.buttonType_1}}
<a class="back" {{action 'hideDetail' target='view'}}></a>
<a href="#" class="back-index" {{action 'gotoIndex'}}></a>
<a class="menu"></a> 
{{/if}}



