<div class="Blur-box "></div>
<div class="Blur-box-main">
	<div class="p-detail-top">
		<div class="p-detail-top-left"></div>
		<div class="p-detail-top-line"></div>
		<div class="p-detail-top-right">
			<span>路线指引</span>
			<p name="instruction_underground">您的车位在{{area}}</p>
		</div>
	</div>
	<div class="detail">
		<div class="p-detail-map">
			<span>广场地图</span>
			<div id="squareMap"></div>
		</div>
		<div class="p-detail-map">
			<span>车库外景图</span>
			<div id="undergroundMap"></div>
		</div>
	</div>

</div>
<div class="d-but">
	<a href="javascript:void(0);" class="back" {{action 'hideDetail'}}></a>
	<a href="javascript:void(0);" class="back-index" {{action 'gotoIndex'}}></a>
</div>