{{!#if showPopupMap}}
	<div {{bind-attr class=":Blur-box storeDetailClass"}}></div> 
	<div {{bind-attr class=":Blur-box-main storeDetailClass"}}>
		<div class="detail">
			<div class="d-logo">
				<div class="d-logoL">
					<div class="pic"><img {{bind-attr src=store.icon}}/></div>
					<span>
					<em>{{store.name}}</em>
					<hr/>
					<span>{{store.locationCode}}</span>
					<font>{{store.floor}}</font>
					</span>
				</div>
			</div>
			<div class="d-map" id="d_map" style="margin-top:40px;">
				<div class="d-map-compass"></div>
				<!--<img src="resource/images/map.jpg"/>-->
			</div>
			<div class="d-map-text">*您要去的店铺在<em>{{store.floor}}</em><em>{{store.locationCode}}</em></div>
		</div>

	</div>
	<div {{bind-attr class=":d-but storeDetailClass"}}>
		<a id="Blurbackclose" class="back" {{action 'hidePopMap'}}></a>
		<a href="#" class="back-index" {{action 'gotoIndex'}}></a>
		<!-- <a class="menu"></a> -->
	</div> 
{{!/if}}