<div class="Blur-box"></div>
<div class="Blur-box-main">



	{{#if isActivity}}
		<div class="activities-detail">
		    <div class="activity_title">
				<p></p>
				<span>活动详情</span>
	        </div>			
				<a href="javascript:void(0);">
					<img class="activity_detail" {{bind-attr src=article.src}} />
				</a>
				<p>活动标题：<span>{{article.title}}</span></p>
				<p>活动时间：<span>{{article.text}}</span></p>
				<p>活动地点：<span>{{article.text}}</span></p>
				<p>活动内容：<span>{{article.text}}</span></p>
		</div>
	{{/if}}

	{{#if isAddressMap}}
		<div class="p-detail-top">
			<div class="p-detail-top-left house-number"></div>
			<div class="p-detail-top-line"></div>
			<div class="p-detail-top-right">
				<span>门牌号</span>
				<p>请根据楼座查询门牌号</p>
			</div>
		</div>
		<div class="detail">
			<div class="p-detail-map p-detail-map-nav p-detail-map-height">
				<img {{bind-attr src=article.src}} />
			</div>
		</div>
	{{/if}}

	{{#if isMsg}}
		<div class="p-detail-top">
			<div class="p-detail-top-right">
				<span>提示</span>
			</div>
		</div>
		<div class="detail">
			<div class="p-detail-map p-detail-map-nav">
				<span>{{msg}}</span>
			</div>
		</div>
	{{/if}}

</div>
<div class="d-but">
                {{#if buttonOption.type_1}}
					<a class="back" {{action 'hideDetail' target='view'}}></a>
					<a href="#" class="back-index" {{action 'gotoIndex'}}></a>
				{{/if}}

				{{#if buttonOption.type_0}}
					<a class="back" {{action 'hideDetail' target='view'}}></a>
					<!--1111111111-->
					<a href="#" class="back-index" {{action 'gotoIndex'}}></a>
					<a class="menu"></a>
				{{/if}}
</div>