{{!#if showDetail}}
	<div {{bind-attr class=":Blur-box storeDetailClass"}}></div> 
	<div {{bind-attr class=":Blur-box-main storeDetailClass"}}>
		<div class="detail">
			<div class="d-logo">
				<div class="d-logoL">
					<div class="pic"><img {{bind-attr src=store.icon}}/></div>
					<span>
					<em>{{store.name}}</em>
					<hr/>
					<span>{{store.locationCode}}</span>
					<font>{{store.floor}}</font>
					</span>
				</div>
			</div>
			<div class="d-pic">
				<div class="d-pic-img">
					<div class="d-pic-img-area">
						<ul>
							{{#each i in store.actualImg}}
								<li class="imgSlider"><img {{bind-attr src=i.src}} /></li>
							{{/each}}
						</ul>
					</div>
				</div>
				<p>{{store.desc}}</p>
			</div>
			
			<div class="d-map-text">
				<div  class="d-map-text_1">
				</div>
				<em>70抵100</em>
				<em>限量1000份</em>
				<div class="d-map-text_2">
				</div>
			</div>

			<!--<div class="d-map-compass">

			</div>-->
		</div>

	</div>
	<div {{bind-attr class=":d-but storeDetailClass"}}>
 
		{{#if buttonOption.type_1}}
			<a class="back" {{action 'hideDetail' target='view'}}></a>
			<a href="#" class="back-index" {{action 'gotoIndex'}}></a>
		{{/if}}

		{{#if buttonOption.type_0}}
			<a class="back" {{action 'hideDetail' target='view'}}></a>
			<!--1111111111-->
			<a href="#" class="back-index" {{action 'gotoIndex'}}></a>
			<a class="menu"></a>
		{{/if}}
	</div> 
{{!/if}}


