<div class="wrap header">
	<div class="top_wrap">
		<div class="head">
		   <div class="top_title">
			    <span class="location">上海 </span>
			    <span class="currentDate">2014-07-23</span>
			</div>
			<div style="position:absolute;top:0;z-index:10000">
			
				<div class="clock">
				  <svg id="myclock" class="clockCanvas">
					 
				  </svg>
				</div>
				<div class="data" >
				    <div class="temperature">
				        <span><em>24</em></span>
				        <sup>°</sup>
				    </div>
					<p>27℃~35℃</p>
					<span class="today">周一</span>
				</div>
				<div class="weather">
					<img src="resource/images/weather/01.png">
					<span style=""><img src="resource/images/weather/01.png" /><span class="otherday"></span></span>
					<span style=""><img src="resource/images/weather/01.png" /><span class="otherday"></span></span>
					<span style=""><img src="resource/images/weather/01.png" /><span class="otherday"></span></span>
				</div>
			</div>
		</div>
	</div>
</div>