<div class="wrap">
	<div class="r-page wrap-main">
		{{#if showDetail}}
			<!--<div class="Blur-box "></div>
			<div class="Blur-box-main">

				<div class="activities-detail">			
						
				</div>

			</div>
			<div class="d-but">
				<a href="javascript:void(0);" class="back" {{action 'hideDetail' target='view'}}></a>
				<a href="javascript:void(0);" class="back-index" {{action 'gotoIndex'}}></a>
			</div>-->
			{{static-detail article=article isActivity=true hideDetail="hideDetail" gotoIndex="gotoIndex"}}
		{{/if}}
		{{top-weather}}
		{{nav-bar title='activity'}}
		<!--主体内容start-->
		<div class="activities">
			<ul data-name="upper">
				<li class="max right big">
				</li>
				<li class="min floatR small">
				   <a href="javascript:void(0);"></a>
				</li>
				<li class="min right small">
				   <a href="javascript:void(0);"></a>
				</li>
				<li class="max floatR big">
				</li>
			</ul>
			<ul data-name="bottom">
				<li class="bottom right small">
				    <a href="javascript:void(0);"></a>
				</li>
				<li class="bottom right small">
				   <a href="javascript:void(0);"></a>
				</li>
				<li class="bottom floatR small">
				   <a href="javascript:void(0);"></a>
				</li>
			</ul>
		</div>
		<!--主体内容end-->
	</div>
</div>
