<div class="wrap">
	<div class="r-page wrap-main">
		{{#if showStoreDetail}}
			{{store-detail store=currentShop hideDetail="hideDetail" gotoIndex="gotoIndex"}}
		{{/if}}
		{{top-weather}}
		{{nav-bar title='floor'}}
		<!--主体内容start-->
		   <div id="mapContainer" style="width: 1040px;height:1440px;position:relative;background: #F03;">
                  <!--<div id="mapContainer" style="width: 520px;height: 720px;background: #F03;">-->
           </div>
		<!--主体内容end-->
		<div class="goStoreDetial" {{action 'showStoreDetail'}}></div>
		<!--{{bottom-map shop=currentShop setPaper="setPaper"}}-->
	</div>
</div>


