<div class="wrap">
	<div class="r-page wrap-main">
		{{#if showParkNav}}
			{{park-nav hideDetail="hideDetail" gotoIndex="gotoIndex" isUndergroundLot=isUndergroundLot isMsg=isMsg msg=msg data=data area=area}}
		{{/if}}
		{{#if isMsg}}
			{{static-detail hideDetail="hideDetail" gotoIndex="gotoIndex" isMsg=isMsg msg=msg}}
		{{/if}}
		{{top-weather}}
		{{nav-bar title='park'}}
		<!--主体内容start-->
		<div class="park" id="p-content">
			<div class="p-garage" id="p-choose">
				<p>
					<span>请选择您要去的车库</span>
					<a href="javascript:void(0);" data-name="lt">立体车库</a>
					<a href="javascript:void(0);" class="checked" data-name="underground">地下车库</a>
				</p>
			</div>
			<!--查找车位-->
			<div class="p-garage" style="display:none" id="p-spot">
				<div class="p-search">
					<div class="p-back" id="p-back">
					<a href="javascript:void(0);">返回</a>
					</div>
					<br/>
					<span><br/>请输入您的停车位号</span>
					<div class="sure">
						<font>P</font>
						<input type="text" class="code" id="parkingNum" value="请输入停车位号"/>
						<a href="javascript:void(0);" {{action 'search' target='view'}}>确认</a>
					</div>
					<span>例:108</span>
				</div>
				<div class="p-num">
					<ul>
						<li t="n">1</li>
						<li t="n">2</li>
						<li t="n">3</li>
						<li t="n">4</li>
						<li t="n">5</li>
						<li t="n">6</li>
						<li t="n">7</li>
						<li t="n">8</li>
						<li t="n">9</li>
						<li t="n">0</li>
						<li class="null" id="clearkey"></li>
						<li class="del" id="deletekey"></li>
					</ul>
				</div>
			</div>
		</div>
		<!--主体内容end-->
		{{bottom-map}}
	</div>
</div>
