<div class="wrap">
	<div class="r-page wrap-main">
		{{top-weather}}
		{{nav-bar}}
		<!--主体内容start-->
		<div class="main">
			<div class="m-con">
				<div class="member">
					<div class="member-list">
						{{#each model in controller}}
							<div class="member-listDiv">
								<img {{bind-attr src=model.src}} />
							</div>
						{{/each}}
					</div>
				</div>
				<!--浮动按钮-->
				<div class="m-con-but-left">
					<a id="pre"></a>
				</div>
				<div class="m-con-but-right">
					<a id="next"></a>
				</div>
				<!--浮动按钮end-->
			</div>
		</div>
		<!--主体内容end-->
	</div>
</div>
