<div class="wrap">
	<div class="wrap-main r-page">
		{{#if showDetail}}
			{{store-detail store=store hideDetail="hideDetail" gotoIndex="gotoIndex"}}
		{{/if}}
		{{#if showAddress}}
			{{static-detail article=article isAddressMap=true hideDetail="hideDetail" gotoIndex="gotoIndex"}}
		{{/if}}
		{{#if showPopMap}}
			{{popup-map store=store hidePopMap="hidePopMap" gotoIndex="gotoIndex"}}
		{{/if}}
		
		{{top-weather}}
		{{nav-bar title="brand"}}
		<!--主体内容start-->
		<div class="con">
			<div class="con-left">
				{{category-list categoryQuery="categoryQuery" showAddress="showAddress"}}
			</div>
			<!--主体左侧end-->
			<div class="con-right">
				<div class="con-right-m">
					{{#each store in model}}
						{{item-overview store=store showDetailCom="showDetailCom" showPopMap="showPopMap"}}
					{{else}}
						no store
					{{/each}}
				</div>
			</div>
			<!--主体右侧end-->
		</div>
		<!--主体内容end-->
	</div>
</div>

